{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
	<h1>About Us</h1>
	<p class="lead">For travellers looking for a truly memorable dream vacation in the sun while enjoying a pristine clean seaside as well as the beauty and history of Dubrovnik, Hotel Neptun located on a Blue Flag beach, is the ideal choice.
Newly renovated Hotel Neptun, situated in Babin Kuk boasts spectacular views overlooking the sea and the Elaphiti Islands. Guests will be sure to enjoy the tastefully decorated, bright and modern decor of Hotel Neptun, consisting of 91 guest rooms and suites all of which offer a variety of amenities.</p>
</div>

<div class="jumbotron">
<br>
<p>
A family holiday in Dubrovnik
</p>
<br>
<p>
Hotel Neptun offers a variety of standard guest rooms, panoramic sea view rooms, spacious family rooms and luxurious premium suites, which include a separate bedroom and bath. Balconies of these rooms offer breath-taking sea views. Along with premium accommodations, this Dubrovnik hotel also offers several dining options. In any one of our three restaurants, guests can enjoy culinary delights prepared by our master chefs. Guests may also relax and enjoy local and international beverages at our On the Rocks Cocktail Bar & Lounge.

Tour of the Old Town

Ideally located on the Lapad Peninsula, Hotel Neptun is just over two miles from the Old Town, with easy access from the hotel, guests will be sure to enjoy the Old Town and its many monuments and cultural attractions.</p>
</div>
{% endblock %}