{% extends 'layout.html' %}

{% block body %}
	<h1>{{amenity.a_title}}</h1>
	<small><p style="display: inline">	<strong>ID:</strong>	{{amenity.a_id}}</p></small>
	<small><p style="display: inline">	<strong>Type:</strong>	{{amenity.a_type}}</p></small>
	<small><p style="display: inline">	<strong>Capacity:</strong>	{{amenity.a_capacity}}</p></small>
	<small><p style="display: inline">	<strong>Status:</strong>	{{amenity.a_status}}</p></small>

	<hr>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="/bookings/{{amenity.a_id}}">
		<p style="display: inline">Check-in &nbsp;</p>
		{{ form.hidden_tag() }}
		{{ form.check_in(class='dtpick') }}

		<p style="display: inline">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</p>

		<p style="display: inline">Check-out &nbsp;</p>
		{{ form.hidden_tag() }}
		{{ form.check_out(class='dtpick') }}
		
		<br><br>


		<div class="form-group">
			{{render_field(form.status, class_="form-control")}}
		</div>

		<div class="form-group">
			{{render_field(form.name, class_="form-control")}}
		</div>	


		<div class="form-group">
			{{render_field(form.count, class_="form-control")}}
		</div>

		<div class="form-group">
			{{render_field(form.email, class_="form-control")}}
		</div>

		<div class="form-group">
			{{render_field(form.streetno, class_="form-control", id="editor")}}
		</div>

		<div class="form-group">
			{{render_field(form.city, class_="form-control")}}
		</div>

		<select class="form-group" id="country" name="country">

			{{ form.country(id='country') }}
		</select>

		<select class="form-group" id="state" name="state">

			{{ form.state(id='state') }}
		</select>

		<!--div>
	Country   <select id="country" name ="country"></select> </br></br>
	State <select name ="state" id ="state"></select> 
	</div-->
	
	<script language="javascript">
	populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
	populateCountries("country2");
	populateCountries("country2");
	</script>

		<div class="form-group">
			{{render_field(form.pincode, class_="form-control")}}
		</div>

		<p><input type="submit" class="btn btn-primary" value="Book"></p>
	</form>

{% endblock %}