{% extends 'layout.html' %}

{% block body %}
	<h1>
	{% if id[0] == 'R' %}
		{{amenity.r_id}}
		{% else %}
		{{amenity.a_title}}
		{% endif %}
	</h1>

	<small><p style="display: inline">	<strong>ID:</strong>	
		{% if id[0] == 'R' %}
		{{amenity.r_number}}
		{% else %}
		{{amenity.a_id}}
		{% endif %}
	</p></small>

	<small><p style="display: inline">	<strong>Type:</strong>	
		{% if id[0] == 'R' %}
		{{amenity.r_type}}
		{% else %}
		{{amenity.a_type}}
		{% endif %}
	</p></small>
	
	<small><p style="display: inline">	<strong>Capacity:</strong>	
		{% if id[0] == 'R' %}
		{{amenity.r_capacity}}
		{% else %}
		{{amenity.a_capacity}}
		{% endif %}
	</p></small>

	<!--small><p style="display: inline">	<strong>Status:</strong>
		{% if id[0] == 'R' %}
		{{amenity.r_status}}
		{% else %}
		{{amenity.a_status}}
		{% endif %}
	</p></small-->

	<hr>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">

		{% if id[0] == 'R' %}
		<p style="display: inline">Check-in &nbsp;</p>
		{{ form.hidden_tag() }}
		{{ form.check_in(class='dtpick') }}

		<p style="display: inline">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</p>

		<p style="display: inline">Check-out &nbsp;</p>
		{{ form.hidden_tag() }}
		{{ form.check_out(class='dtpick') }}
		
		<br><br>

		{% else %}
		&nbsp; &nbsp;<p style="display: inline">Date &nbsp;</p>
		{{ form.hidden_tag() }}
		{{ form.check_in(class='dtpick') }}
		
		<br><br>
		{% endif %}

		{% if id[0] != 'R' %}
		<div class="form-group col-lg-3">
			{{render_field(form.g_id, class_="form-control")}}
		</div>	

		<div class="form-group col-lg-3">
			{{render_field(form.count, class_="form-control")}}
		</div>

		{% else %}

		<div class="form-group col-lg-3">
			{{render_field(form.name, class_="form-control")}}
		</div>	


		<div class="form-group col-lg-3">
			{{render_field(form.count, class_="form-control")}}
		</div>

		<div class="form-group col-lg-5">
			{{render_field(form.email, class_="form-control")}}
		</div>

		<div class="form-group">
			{{render_field(form.streetno, class_="form-control", id="editor")}}
		</div>

		<div class="form-group col-lg-3">
			{{render_field(form.city, class_="form-control")}}
		</div>

		<select class="form-group" id="country" name="country">

			{{ form.country(id='country') }}
		</select>

		<select class="form-group" id="state" name="state">

			{{ form.state(id='state') }}
		</select>

		<div class="form-group col-lg-3">
			{{render_field(form.pincode, class_="form-control")}}
		</div>
	{% endif %}
		<!--div>
	Country   <select id="country" name ="country"></select> </br></br>
	State <select name ="state" id ="state"></select> 
	</div-->
	
	<script language="javascript">
	populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
	populateCountries("country2");
	populateCountries("country2");
	</script>

		

		<p><input type="submit" class="btn btn-primary" value="Book"></p>
	</form>
	

{% endblock %}