{% extends 'layout.html' %}

{% block body %}
	<h1>Bill for Guest ID: 
		<small> {{guest.g_id}}</small> 
		&nbsp; 
		<small> {{guest.g_name}} </small>
	</h1>

	<table class="table table-striped">
		<tr>
			<th>Booking ID</th>
			<th>Room ID</th>
			<th>Amenity ID</th>
			<th>Check In Date</th>
			<th>Check Out Date</th>
			<th>Type</th>
			<th>Charges</th>

		</tr>
		
		{% for i in range(0, len) %}
		<tr>
			<td>{{bookings[i].b_id}}</td>

			{% if bookings[i].r_id == 0 or bookings[i].r_id == '0' %}
			<td>N.A.</td>
			{% else %}
			<td>{{bookings[i].r_id}}</td>
			{% endif %}

			{% if bookings[i].a_id == 0 or bookings[i].a_id == '0' %}
			<td>N.A.</td>
			{% else %}
			<td>{{bookings[i].a_id}}</td>
			{% endif %}

			<td>{{bookings[i].st}}</td>
			<td>{{bookings[i].et}}</td>
			<td>{{bookings[i].f_type}}</td>
			<td>{{bookings[i].f_cost}}</td>
			{% endfor %}

		</tr>
		
	</table>
    <p style="text-align: right;"><strong>Total Charges: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{total}}&emsp;&emsp;&emsp;&emsp;</p>

{% endblock %}